#ifndef __{{MACRO_GUARD}}__
# define __{{MACRO_GUARD}}__

# include <iostream>

class {{CLASS}} {

public:

	{{CLASS}}(void);
	{{CLASS}}(const {{CLASS}}& copy);
	~{{CLASS}}(void);
	{{CLASS}}& operator=(const {{CLASS}}& rhs);

private:

};

#endif
