#include <iostream>
#include "{{CLASS}}.hpp"

{{CLASS}}::{{CLASS}}(void) 
{
	return ;
}

{{CLASS}}::{{CLASS}}(const {{CLASS}}& copy)
{
	*this = copy;

	return ;
}

{{CLASS}}::~{{CLASS}}(void)
{
	return ;
}

{{CLASS}}& {{CLASS}}::operator=(const {{CLASS}}& rhs)
{
	if (this != &rhs)
	{

	}

	return (*this);
}
